<launch>
  <!-- ========================================================= -->
  <!-- Arguments -->
  <!-- ========================================================= -->
  <arg name="bag_file" default="explore_bin"/>
  <arg name="mode" default="MCL"/>
  <arg name="result_name" default="$(arg mode)_$(arg bag_file)"/>
  <arg name="rviz" default="true"/>
  <arg name="params_file" default="amhmcl"/>

  <!-- ========================================================= -->
  <!-- Parameters -->
  <!-- ========================================================= -->
  <!-- Load general params -->
  <rosparam file="$(find mcmh_localization)/params/$(arg params_file).yaml" command="load" />

  <!-- Set localization mode -->
  <param name="localization_mode" value="$(arg mode)"/>

  <!-- ========================================================= -->
  <!-- Nodes -->
  <!-- ========================================================= -->

  <!-- Publisher contínuo de pose inicial 
  <node name="continuous_initial_pose_publisher" pkg="mcmh_localization" type="initial_pose_pub.py" output="screen">
    <param name="x" value="-2.0"/>
    <param name="y" value="-0.5"/>
    <param name="yaw" value="0.0"/>
    <param name="publish_rate" value="1.0"/>
    <rosparam param="covariance">
      [0.25, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.25, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.1]
    </rosparam>
  </node>-->

  <!-- Main localizer node -->
  <node name="mcmh_localizer" pkg="mcmh_localization" type="amcmh_localizer.py" output="screen">
    <param name="mode" value="$(arg mode)"/>
  </node>

  <!-- Pose broadcaster -->
  <node name="pose_broadcaster" pkg="mcmh_localization" type="pose_broadcaster.py" output="screen"/>

  <!-- ========================================================= -->
  <!-- ROSBAG Playback -->
  <!-- ========================================================= -->
  <!-- Simulated time -->
  <param name="/use_sim_time" value="true"/>

  <!-- Bag player with simulated clock -->  
  <node pkg="rosbag" type="play" name="play_bag"
    args="--clock --quiet $(find mcmh_localization)/bags/$(arg bag_file).bag" output="screen" />


  <!-- ========================================================= -->
  <!-- Evaluation Node -->
  <!-- ========================================================= -->
  <node pkg="rqt_plot" 
        type="rqt_plot"
        name="rqt_plot" 
        args="/mh_rate"
        launch-prefix="bash -c 'sleep 2; exec $0 $@'"
        output="screen">
  </node>

  <!-- ========================================================= -->
  <!-- Optional RViz Visualization -->
  <!-- ========================================================= -->
  <group if="$(arg rviz)">
    <node pkg="rviz" type="rviz" name="rviz"
           args="-d $(find mcmh_localization)/rviz/mcmh_bag_view.rviz"
          output="screen"/>
  </group>

</launch>
