<launch>
  <!-- Arguments -->
  <arg name="bag_file" default="$(env BAG_FILE)"/>
  <arg name="mode" default="MCL"/>
  <arg name="robot_name" default="turtlebot3_waffle"/>
  <arg name="param_file" default="$(find mcmh_localization)/params/amhmcl.yaml"/>
  <arg name="results_dir" default="$(find mcmh_localization)/results"/>
  <arg name="init_particles" default=""/>
  <arg name="min_particles" default=""/>
  <arg name="max_particles" default=""/>
  <arg name="random_steps" default=""/>

  <arg name="poll_period" default="0.1"/>
  <arg name="save_to_csv" default="true"/>
  <arg name="csv_file" default="monitor_"/> <!-- if save_to_csv is true, this is the file to save to-->
  <arg name="source_list" default="[/mcmh_localizer]"/> <!-- list of topics to save to csv, includes all at 5 seconds after startup if empty -->

  <!-- Define result filename (without extension) -->
  <arg name="result_name" default=""/>

  <!-- Load general parameters -->
  <rosparam file="$(arg param_file)" command="load" />
  <param if="$(eval arg('init_particles') != '')" name="init_particles" value="$(arg init_particles)" type="int"/>
  <param if="$(eval arg('min_particles') != '')" name="min_particles" value="$(arg min_particles)" type="int"/>
  <param if="$(eval arg('max_particles') != '')" name="max_particles" value="$(arg max_particles)" type="int"/>
  <param if="$(eval arg('random_steps') != '')" name="random_steps" value="$(arg random_steps)" type="int"/>

  <!-- Extension for result name -->
  <arg name="name_ext" default=""/>

  <!-- Evaluation of estimate vs ground truth -->
  <node name="evaluate_localization" pkg="mcmh_localization" type="evaluate_localization.py" output="screen">
    <param name="result_name" value="$(arg results_dir)/$(arg name_ext)$(arg result_name)"/>
    <param name="est_topic" value="/mcmh_estimated_pose"/>
    <param name="gt_topic" value="/gazebo/model_states"/>
    <param name="robot_name" value="$(arg robot_name)"/>
  </node>
  

  <!-- Load mode parameter -->
  <param name="localization_mode" value="$(arg mode)"/>

  <!-- Continuous initial pose publisher 
  <node name="continuous_initial_pose_publisher" pkg="mcmh_localization" type="initial_pose_pub.py" output="screen">
    <param name="x" value="-2.0"/>
    <param name="y" value="-0.5"/>
    <param name="yaw" value="0.0"/>
    <param name="publish_rate" value="1.0"/>
    <rosparam param="covariance">
      [0.25, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.25, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.1]
    </rosparam>
  </node>-->

  <!-- Localizer node -->
  <node name="mcmh_localizer" pkg="mcmh_localization" type="amcmh_localizer.py" output="screen" />

  <!-- Pose broadcaster -->
  <node name="pose_broadcaster" pkg="mcmh_localization" type="pose_broadcaster.py" output="screen" />

  <!-- Rosbag player with simulated clock -->
  <node pkg="rosbag" type="play" name="play_bag" args="--clock $(arg bag_file)" output="log"/>

  <!-- CPU and memory monitor -->
  <node pkg="cpu_monitor" name="cpu_monitor" type="monitor.py" output="log">
    <param name="poll_period" value="$(arg poll_period)"/>
    <param name="save_to_csv" value="$(arg save_to_csv)"/>
    <param name="csv_file" value="$(arg results_dir)/$(arg name_ext)$(arg csv_file)$(arg result_name).txt"/>
    <rosparam param="source_list" subst_value="True">$(arg source_list)</rosparam>
  </node>

</launch>
