<launch>
  <!-- Configuração do modelo do TurtleBot3 
  <arg name="model" default="waffle_pi"/>
  <env name="TURTLEBOT3_MODEL" value="$(arg model)"/>-->

  <!-- World -->
  <arg name="world" default="house"/>

  <!-- Gazebo com mapa e TurtleBot -->
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_$(arg world).launch" />
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch" />

  <!-- Teleoperação do TurtleBot-->
  <include file="$(find turtlebot3_teleop)/launch/turtlebot3_teleop_key.launch" />

  <!-- Carregar mapa -->
  <arg name="map_file" default="$(find mcmh_localization)/maps/map_$(arg world).yaml"/>
  <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)" />

  <!-- Carrega o arquivo YAML -->
  <rosparam file="$(find mcmh_localization)/params/amhmcl.yaml" command="load" />

  <!-- Nó do estimador baseado em MCMC-->
  <node name="mcmh_localizer" pkg="mcmh_localization" type="amcmh_localizer.py" output="screen" /> 


  <node name="pose_broadcaster" pkg="mcmh_localization" type="pose_broadcaster.py" output="screen" /> 

  <!-- RViz com visualização do mapa, robot e partículas -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find mcmh_localization)/rviz/mcmh_view.rviz" />
</launch>