<launch>
  <!-- Argumentos -->
  <arg name="bag_file" default="$(env BAG_FILE)"/>
  <arg name="mode" default="MCL"/>

  <!-- Carrega o parâmetro do modo -->
  <param name="localization_mode" value="$(arg mode)"/>

  <!-- Nó do seu localizador -->
  <node name="mcmh_localizer" pkg="mcmh_localization" type="amcmh_localizer.py" output="screen" />

  <!-- Pose broadcaster -->
  <node name="pose_broadcaster" pkg="mcmh_localization" type="pose_broadcaster.py" output="screen" />

  <!-- Player do rosbag -->
  <node pkg="rosbag" type="play" name="play_bag" args="--clock $(arg bag_file)" />
</launch>